; begin auth token 
//pkgs.dev.azure.com/Infinicept-Engineering/_packaging/InfiniceptInternal%40Local/npm/registry/:username=Infinicept-Engineering 
//pkgs.dev.azure.com/Infinicept-Engineering/_packaging/InfiniceptInternal%40Local/npm/registry/:_password=ampiZnpuaXAzcmhwZW9weWxxY3ZhbHJ1dHlwcWxrZzVwMmQ0ZnlhamxibDJzZnJuemNlYQ==
//pkgs.dev.azure.com/Infinicept-Engineering/_packaging/InfiniceptInternal%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Infinicept-Engineering/_packaging/InfiniceptInternal%40Local/npm/:username=Infinicept-Engineering 
//pkgs.dev.azure.com/Infinicept-Engineering/_packaging/InfiniceptInternal%40Local/npm/:_password=ampiZnpuaXAzcmhwZW9weWxxY3ZhbHJ1dHlwcWxrZzVwMmQ0ZnlhamxibDJzZnJuemNlYQ==
//pkgs.dev.azure.com/Infinicept-Engineering/_packaging/InfiniceptInternal%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token